@model UploadPublication

@{
    List<Discipline> disciplines = ViewBag.Disciplines;
}

<h3>Створити публікацію</h3>
<hr/>

<form asp-controller="Publications" asp-action="upload-web" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="PublicationType"></label>
                <select class="form-select" asp-for="PublicationType" asp-items="Html.GetEnumSelectList<PublicationType>()"></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="PublicationDate"></label>
                <input asp-for="PublicationDate" class="form-control" type="date"/>
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    

    <div class="form-group">
        <label asp-for="Abstract"></label>
        <textarea asp-for="Abstract" class="form-control"></textarea>
        <span asp-validation-for="Abstract" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="form-group col-md-8">
            <label asp-for="DisciplinesIds"></label>
            <select multiple class="form-control" data-placeholder="Оберіть дисципліну" asp-for="DisciplinesIds" id="DisciplinesSelect" required>
                @foreach (var d in disciplines)
                {
                    <option value="@d.Id">@d.Name</option>
                }
            </select>
            <span asp-validation-for="DisciplinesIds" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Language"></label>
                <select class="form-select" asp-for="Language" asp-items="Html.GetEnumSelectList<Language>()"></select>
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Volume"></label>
                <input class="form-control" asp-for="Volume" min="1" required />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group my-1">
        <label asp-for="Authors"></label>
        <input asp-for="Authors" id="Authors" class="form-control" />
        <span asp-validation-for="Authors" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="File"></label>
        <input asp-for="File" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    
    <div class="input-group mt-3">
        <input asp-for="Keywords" id="Keywords" class="form-control" placeholder="Ключові слова"/>
        <span asp-validation-for="Keywords" class="text-danger"></span>
        <button type="button" id="extractKeywordsBtn" class="btn btn-primary">Вибрати ключові слова</button>
    </div>
    
    <div class="d-flex align-items-center my-2 d-none" id="loadingSpinner">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div>
            <p class="loading-text mx-2" style="margin-bottom: 0px;">Триває обробка...</p>
        </div>
    </div>

    
    

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success w-100 tex">Підтвердити</button>
    </div>
</form>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastr@2/build/toastr.min.js" defer></script>

    <script>
        new MultiSelectTag('DisciplinesSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Пошук',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        });

        var authorsSelectTag = new MultiSelectTag('AuthorsSelect', {
            rounded: true,    // default true
            shadow: false,      // default false
            placeholder: 'Пошук',  // default Search...
            tagColor: {
                textColor: '#327b2c',
                borderColor: '#92e681',
                bgColor: '#eaffe6',
            },
            onChange: function (values) {
                console.log(values)
            }
        });


        $(document).ready(function () {
            $('#addAuthor').click(function () {
                var firstName = $('#addName').val();
                var lastName = $('#addSurname').val();
                var middleName = $('#addMiddleName').val();

                var requestData = {
                    firstName: firstName,
                    lastName: lastName,
                    middleName: middleName
                };

                $.ajax({
                    url: 'https://localhost:7249/api/people',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(requestData),
                    success: function (response) {
                        $('#addAuthorModal').modal('toggle');

                        $('#AuthorsSelect').append($('<option>', {
                            value: response.id, // Assuming the response contains the ID of the newly added author
                            text: response.lastName + ' ' + response.firstName + ' ' + response.middleName // Assuming the response contains the first and last name of the newly added author
                        }));

                        document.querySelector('.mult-select-tag').remove();
                        new MultiSelectTag('AuthorsSelect', {
                            rounded: true,    // default true
                            shadow: false,      // default false
                            placeholder: 'Пошук',  // default Search...
                            tagColor: {
                                textColor: '#327b2c',
                                borderColor: '#92e681',
                                bgColor: '#eaffe6',
                            },
                            onChange: function (values) {
                                console.log(values)
                            }
                        });

                        toastr.success('Сторонній автор успішно додано!');
                    },
                    error: function (xhr, status, error) {
                        $('#addAuthorModal').modal('toggle');
                        toastr.error('Виникла помилка: ' + error);
                    }
                });
            });
        });
    </script>
}

<script>
    $(function () {
        var getAuthorsUrl = "/Lecturers/GetAuthors"; // Adjust the URL to your actual endpoint

        function split(val) {
            return val.split(/,\s*/);
        }

        function extractLast(term) {
            var terms = split(term);
            return terms.length === 1 ? terms[0] : terms.pop();
        }

        $("#Authors")
            .on("keydown", function (event) {
                if (event.keyCode === $.ui.keyCode.TAB &&
                    $(this).autocomplete("instance").menu.active) {
                    event.preventDefault();
                }
            })
            .autocomplete({
                minLength: 3,
                source: function (request, response) {
                    $.ajax({
                        url: getAuthorsUrl,
                        data: { term: extractLast(request.term) }, // Use extractLast to get the correct term
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                focus: function () {
                    return false;
                },
                select: function (event, ui) {
                    var terms = split(this.value);
                    terms.pop();
                    terms.push(ui.item.value);
                    terms.push("");
                    this.value = terms.join(", ");
                    return false;
                }
            });
    });
</script>

<script>
    $(function () {
        // Existing code ...

        $("#extractKeywordsBtn").on("click", function () {
            var fileInput = $("#File")[0];
            
            if (fileInput.files.length > 0) {
                $("#loadingSpinner").removeClass("d-none");
                var formData = new FormData();
                formData.append("file", fileInput.files[0]);
                formData.append("n", 5);

                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/api/extract_keywords",
                    data: formData,
                    processData: false,
                    contentType: false,  // Set contentType to false
                    success: function (result) {
                            if (result.keyphrases) {
                                $("#loadingSpinner").addClass("d-none");
                                // Append extracted keywords to the Keywords input
                                var existingKeywords = $("#Keywords").val();
                                var newKeywords = result.keyphrases.join(", ");
                                $("#Keywords").val(existingKeywords ? existingKeywords + ", " + newKeywords : newKeywords);
                            } else {
                                $("#loadingSpinner").addClass("d-none");
                                alert("Failed to extract keywords. " + result.error);
                            }
                        },
                    error: function () {
                        $("#loadingSpinner").addClass("d-none");
                        alert("An error occurred while extracting keywords.");
                    }
                });
            } else {
                alert("Please select a file first.");
            }
        });
    });
</script>
